@model IEnumerable<LojaVirtual.Models.compra>

@{
    ViewBag.Title = "Compras";
}

<h2>@ViewBag.Title</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.produto.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.produto.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTotal)
        </td>
        <td>
            @Html.ActionLink("Remover", "Delete", new { id=item.Idcompra })
        </td>
    </tr>
}

</table>
